*{
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --primary-color: #0b0909;
    --seconry-color: #44444c;
    --tertiary-color: #8c8c8c;
    --quarter-color: #d6d6d6;
}
.container{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    position: relative;
    overflow: auto;
    height: 100vh;
    
    padding:2rem;
    background-color: rgb(228, 228, 228);
}
.main-container{
    padding: 2rem;
    position: relative;
}
.main-container> div{
    margin: 2rem auto;
}
.preview-container{
    text-align: center;
    padding:2rem;
    flex-basis: 51%;
    background-color: white;
    position: sticky;
    right: 10px;
    top: 0;
    z-index: 10;
  
    width: 52%;
     max-width: 900px;
    
}
.info{
    display: flex;
    gap: 1rem;
    text-align: center;
    justify-content: space-around;
    margin:1rem;
}
form{
  
    background-color: white;
   padding: 1rem;
    
}
form label{
    display: block;
    width: 200px;
}

form input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: rgb(236, 235, 235);
    padding: 5px;
    border-radius: 7px;
    margin:5px;
}
fieldset{
    border:none;
   
}
textarea{
    resize: none;
    width: 100%;
}
.heading{
     display: flex;
        justify-content: space-between;
        gap: 2rem;
        align-items: center;
        font-size: 0.8rem;
        width: 100%;
      
        background-color: white;
        font-size: 0.5rem;
        padding: 0.8rem;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        
        
}
.download{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    background-color: white;
    padding:1rem;
    border: 1px solid , gray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;


}
.dates{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.dates input{
    width: 90%;

}
.resume-header{
    background-color: rgb(38, 38, 67);
    color: white;
    padding: 2rem;
}
.edu, .exp{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    

}
.exp{
    text-align: left;

}

.resume-heading{
    background-color: gray;
    color: white;
    padding: 1rem;
    margin:1rem auto;
}
.company{
    font-weight: 700;
    font-size: 1rem;
}
.desc{
 
    overflow-wrap: break-word;
}
.btn{
    display: flex;
    justify-content: right;
    gap: 2rem;
    margin: 1rem;
    
}
.educations{
    font-size: 1rem;
    background-color: white;
    margin:2px;
    text-align: center;
    padding: 1rem;

}
.edu-btn{

    display: flex;
    justify-content: center;
    margin:1rem;
   
    
}
.edu-btn button{
    padding: 1rem;
}
.info p{
    color: gray;
    font-size: small;
    margin:1rem 0;
}
.info p:hover{
    color:lightblue;
    text-decoration: underline;
}
.each-education{
    margin: 1rem 0;
    border:2px solid cornflowerblue;
}
.exp p{
    
  white-space: normal;       /* allows text to wrap */
  word-wrap:break-word;     /* breaks long words if needed */
  overflow-wrap:break-word;
  width: 100%; /* modern alternative */
  max-width: 400px;           /* ensures it doesn’t overflow container */
}
.exp div:first-child{
    width: 25%;
}
.exp div:last-child{
    width: 70%;
}
.start-end{
    display: flex;
    gap: 1rem;

}

